configuration {
  modi: "window,run,drun,ssh,combi";
  font: "hack 24";
  combi-modi: "window,drun,run,ssh";
  show-icons: true;
  terminal: "alacritty";
 }

@import "/usr/share/rofi/themes/blue.rasi"
